In [2]:
#Q1. Create one variable containing following type of data:
 #(i) string
#(ii) list
#(iii) float
#(iv) tuple

In [1]:
#(i) String

In [2]:
My_String = ("Hello PW Skills")

In [3]:
My_String

'Hello PW Skills'

In [4]:
#(ii)list

In [5]:
My_List=[1,2,3,34.56,True]

In [6]:
My_List

[1, 2, 3, 34.56, True]

In [7]:
#(iii) Float

In [8]:
My_float = (34.56)

In [9]:
My_float

34.56

In [10]:
# (iv) tuple

In [11]:
My_Tuple  =(1,2,3,34.56, True)

In [12]:
My_Tuple

(1, 2, 3, 34.56, True)

In [13]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.

In [14]:
 var1 = ' '

In [15]:
type( var1)

str

In [16]:
var1

' '

In [17]:
var2 = '[ DS , ML , Python]'

In [18]:
type(var2)

str

In [19]:
# it is consider as string data type because it is still  enclosed within single quotes

In [20]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [21]:
type(var3)

list

In [22]:
 var4 = 1.

In [23]:
type( var4)

float

In [24]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [25]:
#(i) / (Division Operator):

#The / operator is used for division, and it returns the quotient of dividing the first operand by the second.

In [26]:
 a= 10 / 3

In [27]:
print(a)

3.3333333333333335

In [28]:
#(ii) % (Modulus Operator):

#The % operator returns the remainder of the division of the first operand by the second.

In [29]:
b=  10 % 3

In [30]:
print(b)

1

In [31]:
#(iii) // (Floor Division Operator):

#The // operator is used for floor division. It returns the largest integer less than or equal to the quotient of the division.

In [32]:
c=10 // 3
print(c)

3

In [33]:
#(iv) ** (Exponentiation Operator):

#The ** operator raises the first operand to the power of the second operand.

In [34]:
d = 2 ** 3
print(d)

8

In [35]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [36]:
my_list = [10, "Hello", 3.14, True, [1, 2, 3], {'a': 1, 'b': 2}, (4, 5, 6), None, False, "World"]

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 10, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: {'a': 1, 'b': 2}, Data Type: <class 'dict'>
Element: (4, 5, 6), Data Type: <class 'tuple'>
Element: None, Data Type: <class 'NoneType'>
Element: False, Data Type: <class 'bool'>
Element: World, Data Type: <class 'str'>

In [37]:
for element in my_list:
    print(element)
for  i in my_list:
    print(type(i))

10
Hello
3.14
True
[1, 2, 3]
{'a': 1, 'b': 2}
(4, 5, 6)
None
False
World
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'NoneType'>
<class 'bool'>
<class 'str'>

In [ ]:
# Q6.Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

In [3]:
data_list = [5, 12, 9, 7, 18, 22, 15, 30, 4, 6, 11, 21, 14, 27, 33, 8, 10, 25, 36, 20, 3, 16, 24, 13, 19]

In [4]:
for num in data_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

5 is not divisible by 3
12 is divisible by 3
9 is divisible by 3
7 is not divisible by 3
18 is divisible by 3
22 is not divisible by 3
15 is divisible by 3
30 is divisible by 3
4 is not divisible by 3
6 is divisible by 3
11 is not divisible by 3
21 is divisible by 3
14 is not divisible by 3
27 is divisible by 3
33 is divisible by 3
8 is not divisible by 3
10 is not divisible by 3
25 is not divisible by 3
36 is divisible by 3
20 is not divisible by 3
3 is divisible by 3
16 is not divisible by 3
24 is divisible by 3
13 is not divisible by 3
19 is not divisible by 3

In [5]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

In [6]:
# in the list we are allowed to mutate in a particular indexes whereas in string you are not allowed to mutate under a particular indexes

In [7]:
#Mutable and immutable data types refer to whether the value of an object can be changed after it has been created.

#Mutable: Objects whose value can be changed after creation are called mutable. In mutable objects, you can modify the object's contents without changing its identity. Examples of mutable data types in Python include lists, dictionaries, and sets.

In [8]:
my_list = [1, 2, 3, 4]
print("Original list:", my_list)

Original list: [1, 2, 3, 4]

In [9]:
my_list[0] = 5
print("Modified list:", my_list)

Modified list: [5, 2, 3, 4]